<div class="container">
  <div style="height: 90.5vh;">
    <div [ngSwitch]="currentBreakpoint">
      <span *ngSwitchCase="Breakpoints.Web">
        <mat-toolbar class="header">
          <mat-toolbar-row>
            <span><a routerLink="/" routerLinkActive="active" class="logo"><img
                  src="../assets/images/isemann.png" height="48px"
                  style="margin-top: 5px;"></a></span>
            <span class="menu-spacer"></span>
            <a class="menuItem" href="#" mat-button>Login</a>
            <a class="date">{{time | date:'fullDate'}}</a><a class="time">{{time
              | date:'HH:mm:ss'}}</a>

          </mat-toolbar-row>
        </mat-toolbar>
      </span>

      <span *ngSwitchDefault>
        <mat-toolbar class="header">
          <mat-toolbar-row>
            <button mat-icon-button (click)="sidenav.toggle()">
              <mat-icon class="hamburger">menu</mat-icon>
            </button>
            <span><a routerLink="/" routerLinkActive="active" class="logo"><img
                  src="../assets/images/isemann.png" height="48px"
                  style="margin-top: 5px;"></a></span>
          </mat-toolbar-row>
        </mat-toolbar>
      </span>

      <mat-sidenav-container>
        <mat-sidenav #sidenav>
          <mat-nav-list>
            <a (click)="sidenav.toggle()" href mat-list-item>Close</a>
            <a href="#" mat-list-item>Login</a>
            <a class="dateSide">{{time | date:'fullDate'}}</a><a
              class="timeSide">{{time
              | date:'HH:mm:ss'}}</a>
          </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
          <div class="content">
            <router-outlet></router-outlet>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
    <div class="footer">
      &copy; Bernhard Isemann, 2023
    </div>
  </div>
</div>