<div class="card-container">

    <mat-card class="card">
      <a href="https://sites.google.com/isemann.at/family/home/" target="_blank"><mat-card-header>
          <mat-card-title>Login to Family</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <br>
          <img mat-card-image src="../../assets/images/family.png" width="100%" height="60px">
        </mat-card-content></a>
    </mat-card>
  
    <mat-card class="card">
      <a href="https://eng.iotexpo.com.cn/sh/" target="_blank"><mat-card-header>
          <mat-card-title>Internet of Things Exhibition</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img mat-card-image src="../../assets/images/iote.png" height="80px">
          <br>Shanghai 2024
        </mat-card-content></a>
    </mat-card>
  
    <mat-card class="cardmin">
      <a href="https://www.linkedin.com/in/bernhardisemann/" target="_blank"><mat-card-header>
          <mat-card-title>Login to LinkedIn</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img mat-card-image src="../../assets/images/ESA_Patch_2022.png"
            height="80px"><br>European Space Agency
        </mat-card-content></a>
    </mat-card>
  
    <!-- <mat-card class="cardmin">
      <a href="https://isemann.at:8443" target="_blank"><mat-card-header>
          <mat-card-title>Login to Sieghartskirchen</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img mat-card-image src="../../assets/images/wappen.jpeg" height="100px">
        </mat-card-content></a>
    </mat-card> -->
  
    <mat-card class="cardmin">
      <a href="https://dubai.ae/" target="_blank"><mat-card-header>
          <mat-card-title>Login to Dubai</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img mat-card-image src="../../assets/images/dubai.png" height="100px">
        </mat-card-content></a>
    </mat-card>
  
    <!-- <mat-card class="card">
      <mat-card-header>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <iframe
            src="https://isemann.at:3000/d-solo/ad89cad6-c647-4d5b-b271-55974f4ead69/lora-temperature-sensors?orgId=1&panelId=1&refresh=5s&kiosk"
            width="760" height="320" frameborder="0"></iframe>
        </mat-card-content>
    </mat-card>
  
    <mat-card class="card">
      <mat-card-header>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <iframe
            src="https://isemann.at:3000/d-solo/cae332b3-522f-4212-b866-e47de81a2f84/lora-humidity-sensor?orgId=1&theme=light&panelId=1&refresh=5s&kiosk"
            width="760" height="320" frameborder="0"></iframe>
        </mat-card-content>
    </mat-card>
  
    <mat-card class="card">
      <mat-card-header>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <iframe
            src="https://isemann.at:3000/d-solo/d6b91faf-d2e4-43e5-b89f-7659e4d79f8c/lora-air-pressure-sensors?orgId=1&theme=light&panelId=1&refresh=5s&kiosk"
            width="760" height="320" frameborder="0"></iframe>
        </mat-card-content>
    </mat-card>
  
    <mat-card class="card">
      <mat-card-header>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <iframe
            src="https://isemann.at:3000/d-solo/e0367442-e247-4aea-a602-e3bba0e84b26/lora-battery-monitor?orgId=1&theme=light&panelId=1&refresh=5s&kiosk"
            width="760" height="320" frameborder="0"></iframe>
        </mat-card-content>
    </mat-card> -->
  
  </div>
