<div class="card-container">

    <mat-card class="card">
      <a href="https://isemann.family:8443/zm/?view=montage" target="_blank"><mat-card-header>
          <mat-card-title>Login to Family</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <br>
          <img mat-card-image src="family.png" height="80px">
        </mat-card-content></a>
    </mat-card>
  
    <mat-card class="cardmin">
      <a href="https://www.linkedin.com/in/bernhardisemann/" target="_blank"><mat-card-header>
          <mat-card-title>Login to LinkedIn</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img mat-card-image src="ESA_Patch_2022.png"
            height="100px"><br>European Space Agency
        </mat-card-content></a>
    </mat-card>
  
    <mat-card class="cardmin">
      <a href="https://isemann.family:9443" target="_blank"><mat-card-header>
          <mat-card-title>Ham Radio Logbook</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img mat-card-image src="ARRL.png" height="100px"><br>American Radio Relay League
        </mat-card-content></a>
    </mat-card>
  
    <mat-card class="cardmin">
      <a href="https://dubai.ae/" target="_blank"><mat-card-header>
          <mat-card-title>Login to Dubai</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img mat-card-image src="dubai.png" height="100px">
        </mat-card-content></a>
    </mat-card>
  <br>
    <mat-card class="card">
      <mat-card-header>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="LoRa">
          <iframe
            src="https://isemann.at:3000/d-solo/eb884e5d-8694-40f0-b2b6-020914a5a313/lora-temperature-sensor?orgId=1&panelId=1&refresh=5s&kiosk"
            width="100%" height="320" frameborder="0"></iframe>
        </mat-card-content>
    </mat-card>
  
    <mat-card class="card">
      <mat-card-header>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="LoRa">
          <iframe
            src="https://isemann.at:3000/d-solo/a6fc3671-7592-4b14-a196-fe6298e018d2/lora-humidity-sensor?orgId=1&panelId=1&refresh=5s&kiosk"
            width="100%" height="320" frameborder="0"></iframe>
        </mat-card-content>
    </mat-card>
  
    <mat-card class="card">
      <mat-card-header>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="LoRa">
          <iframe
            src="https://isemann.at:3000/d-solo/c050e258-9a10-4c1b-a984-e3e34455ee4a/lora-air-pressure-sensor?orgId=1&panelId=1&refresh=5s&kiosk"
            width="100%" height="320" frameborder="0"></iframe>
        </mat-card-content>
    </mat-card>
  
    <mat-card class="card">
      <mat-card-header>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="LoRa">
          <iframe
            src="https://isemann.at:3000/d-solo/b17e15b1-a687-4198-951a-b9de38b2ea04/lora-battery-monitor?orgId=1&panelId=1&refresh=5s&kiosk"
            width="100%" height="320" frameborder="0"></iframe>
        </mat-card-content>
    </mat-card>
  
  </div>
