<div class="card-container">

    <mat-card class="cardmin">
      <a href="https://isemann.family:8443/zm/?view=montage" target="_blank"><mat-card-header>
          <mat-card-title>Login to Family</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <br>
          <img mat-card-image src="family.png" height="80px">
        </mat-card-content></a>
    </mat-card>
  
    <mat-card class="cardmin">
      <a href="https://www.linkedin.com/in/bernhardisemann/" target="_blank"><mat-card-header>
          <mat-card-title>Login to LinkedIn</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img mat-card-image src="ESA_Patch_2022.png"
            height="100px"><br>European Space Agency
        </mat-card-content></a>
    </mat-card>
  
    <mat-card class="cardmin">
      <a href="https://isemann.family:9443" target="_blank"><mat-card-header>
          <mat-card-title>Ham Radio Logbook</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img mat-card-image src="ARRL.png" height="100px"><br>American Radio Relay League
        </mat-card-content></a>
    </mat-card>
  
    <mat-card class="cardmin">
      <a href="https://dubai.ae/" target="_blank"><mat-card-header>
          <mat-card-title>Login to Dubai</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img mat-card-image src="dubai.png" height="100px">
        </mat-card-content></a>
    </mat-card>
  <br>
    <mat-card class="cardmax">
      <mat-card-header>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="temChart">
          <div class="chart-container"
                style="position: relative; width:99%">
                <canvas id="MyChart">{{chart}}</canvas>
            </div>
        </mat-card-content>
    </mat-card>
  
    <mat-card class="card">
      <mat-card-header>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="LoRa">
          
        </mat-card-content>
    </mat-card>
  
    <mat-card class="card">
      <mat-card-header>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="LoRa">
          
        </mat-card-content>
    </mat-card>
  
    <mat-card class="card">
      <mat-card-header>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="LoRa">
          
        </mat-card-content>
    </mat-card>
  
  </div>
